.music {
    padding-bottom: 32px;
}

.icon {
    margin: 0 !important;
    padding: 0 !important;
    border: 0px !important;
    box-shadow: 0 0 0 !important;
    -webkit-box-shadow: 0 0 0 !important;
    -mozilla-box-shadow: 0 0 0 !important;
    background-color: rgba(255, 255,255,0.0) !important;
    vertical-align:top;
}

code {
    font-size: 24px;
    letter-spacing: 0;
    line-height: 26px;
    padding-left: 40px !important;
}

td {
    padding-right: 16px;
    min-width: 200px;
}

.footer {
    position: absolute;
    bottom: 10px;
    font-size: 12px;
    line-height: 14px;
}
