{% extends "base.html" %}
{% block title %}Contact{% endblock %}
{% block description %}Contact the developers of the drogulus - a programmable peer to peer data store{% endblock %}
{% block content %}
      <div class="row-fluid">
        <div class="span8 offset2">

          <!-- Contact -->
          <div id="contact">
            <h2>Contact</h2>

            <p>Email <a href="http://ntoll.org/contact">Nicholas
            Tollervey</a> or find him <a href="http://twitter.com/ntoll">on
            Twitter</a>.</p>
          </div>
        </div>
      </div>
{% endblock %}
