{% extends "base.html" %}
{% block title %}How?{% endblock %}
{% block description %}How does the drogulus - a programmable peer to peer data store - work?{% endblock %}
{% block content %}
      <div class="row-fluid">
        <div class="span8 offset2">

          <!-- How? -->
          <div id="how">
            <h2>How?</h2>

            <p>The drogulus has three core components:</p>

            <ul>
              <li>A distributed hash table (DHT) that provides the data
              store and replaces DNS.</li>
              <li>Trust and identity enforced via cryptographic signing of
              digital assets.</li>
              <li>Logos/&#955;&#972;&#947;&#959;&#962; (say "log-oss"), a
              simple implementation of a Lisp like programming language for
              asynchronously working with data stored in the DHT.</li>
            </ul>

            <p>The drogulus implements a version of the
            <a href="https://en.wikipedia.org/wiki/Kademlia">Kademlia</a>
            distributed hash table. The innovation the drogulus brings is that
            keys and values (items) are signed in such a way that their
            provenance can be proven and content shown to be intact.
            Furthermore, users cannot interfere with each other's items stored
            within the distributed hash table unless they have access to the
            same private key. Items are self contained and any that do not pass
            the cryptographic checks are ignored and nodes on the network that
            attempt to propagate such values are punished by being blocked by
            their peers.</p>

            <p>Logos programs are themselves values stored within the DHT, run
            in asynchronous "ensembles" that arrive at a consensus and process
            other items of data stored within the DHT. They are sandboxed and
            intentionally limited in terms of time (how long a computation may
            last) and space (how much memory may be used). Since Logos programs
            are also data there is a mind-bending side effect that Logos
            programs can rewrite other Logos programs in order to extend the
            Logos programming language itself. This is an important property:
            users have the autonomy to grow the Logos programming language to
            suit their own needs.</p>

            <p>Currently, the DHT is almost finished, the cryptographic
            layer is done and Logos is in the planning stages.</p>
          </div>
        </div>
      </div>
{% endblock %}
