{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block description %}Home of the drogulus - a programmable peer to peer data store{% endblock %}
{% block content %}
      <!-- Jumbotron -->
      <div class="jumbotron" id="drogulus">
        <h1>Drogulus</h1>
        <p id="logo">
          <img src="images/logo.png" alt="Drogulus logo"/>
        </p>
        <p class="lead">A programmable peer-to-peer data store built
        for simplicity, security, openness &amp; fun.</p>
        <p class="warning">Drogulus is currently an unfinished work in
        progress.</p>
      </div>
{% endblock %}
