{% extends "base.html" %}
{% block title %}What?{% endblock %}
{% block description %}What is the drogulus - a programmable peer to peer data store{% endblock %}
{% block content %}
      <div class="row-fluid">
        <div class="span8 offset2">

          <!-- What? -->
          <div id="what">
            <h2>What?</h2>

            <p>The drogulus is a programmable peer-to-peer data store. It's an
            open, federated and decentralised system where the identity of
            users and provenance of data is ensured by cryptographically
            signing digital assets.</p>

            <p>Being federated (the system consists of many independent but
            collaborating entities) and decentralized (no entity is more
            important than any of the others) ensures users are free from choke
            points of authority that may be used to control access to
            data and usage of the system.</p>

            <p>As an open system, all users are free to contribute, change,
            enhance and expand the drogulus without prejudice.</p>

            <p>Being programmable means users can work with the data stored
            within the drogulus. It's a sort of distributed programming
            environment: by running a node in the drogulus you are sharing a
            small amount of your potential computing power with everyone else
            on the network.</p>

            <p>By using public key cryptography the drogulus ensures the
            provenance of data and that it has not been tampered with.
            Importantly, there is no central authority to prove who's who.
            Identity is built on the far more humane mechanism of a circle of
            trust.</p>
          </div>
        </div>
      </div>
{% endblock %}
