nav .navbar-brand img {
    margin-top: -14px;
    margin-right: 8px;
}

nav .navbar-brand {
    font-family: 'GenomeThin';
    font-weight: bold;
    font-style: normal;
    color: #231f20 !important;
    font-size: 38px;
}

.navbar-default {
    background-color: #FFF;
}

body {
    font-family: 'GenomeThin';
    font-weight: bold;
    font-style: normal;
}
