body {
    margin-top: 40px;
}

.sidebar h3 {
    margin-bottom: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: -1px;
    font-weight: bold;
}

#logo {
    display: block;
    position: fixed;
    width: 140px;
    height: 140px
}

nav {
    position: fixed;
}

nav ul {
    list-style: none outside;
    padding: 10px 0 0 0;
    margin: 148px 0 0 0;
}

nav ul li {
    display: block;
    padding-left: 48px;
}

nav ul li a,
nav ul li a:visited,
nav ul li a:active  {
    font-size: 14px;
    color: #555;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover,
nav ul li a:focus {
    color: #222;
}

footer {
    font-size: 12px;
}

/* Mobile */
@media only screen and (max-width: 767px) {
    nav, #logo {
        display: none;
    }
}

/* Mobile Landscape */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    nav, #logo {
        display: none;
    }
}

.warning {
    color: red;
}

code {
    font-family: monospace;
}

pre {
    margin-bottom: 20px;
}
